<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>The Sill</title>
    <link rel="stylesheet" type="text/css" href="../assets/theme.css">
    <script src="../assets/theme.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-wrapper">
          <li class="nav-item">
            <a href="#home" class="underline">
              <span>The</span>
              <span>Sill</span>
            </a>
          </li>
          <div>
            <li class="nav-item">
              <a href="#shop">Shop</a>
            </li>
            <li class="nav-item">
              <a href="#workshops">In-store Workshops</a>
            </li>
            <li class="nav-item">
              <a href="#club">Plant Parent Club</a>
            </li>
          </div>
          <div>
            <li class="nav-item">
              <a href="#login">Log In</a>
            </li>
            <li class="nav-item">
              <a href="#checkout">Bag(<span id="num-items">0</span>)</a>
            </li>
          </div>
        </ul>
      </header>
      <div class="content">
        <p class="rotate-right">It's okay to be basic.<p>
          <div class="image-container">
            <img
              src="/Users/bdf/the-sill/assets/images/the-sill_pothos-jade_variant_medium_grow-pot_none.jpg"
              alt="Pot choice"
            >
          </div>
          <div class="description-container">
            <div class="header-container">
              <h1>Pothos Jade</h1>
              <h2>$42</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="select-header">POTTED IN</p>
              <ul class="select">
                <div class="svg-wrapper">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 width="15px" height="15px" viewBox="0 0 284.929 284.929"
                  	 xml:space="preserve">
                    <g>
                    	<path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441
                    		L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082
                    		c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647
                    		c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"/>
                    </g>
                  </svg>
                </div>
                <li class="options" aria-selected="true">
                  <p>Grow pot</p>
                  <img src="/Users/bdf/the-sill/assets/Images/pdp-planter-icon-grow.png" alt="grant planter"/>
                </li>
                <li class="options" aria-hidden="true">
                  <p>Grant planter</p>
                  <img src="/Users/bdf/the-sill/assets/Images/pdp-planter-icon-grant.png" alt="grant planter"/>
                </li>
                <li class="options" aria-hidden="true">
                  <p>Prospect planter</p>
                  <img src="/Users/bdf/the-sill/assets/Images/pdp-planter-icon-prospect.png" alt="grant planter"/>
                </li>
                <li class="options" aria-hidden="true">
                  <p>Balboa planter</p>
                  <img src="/Users/bdf/the-sill/assets/Images/pdp-planter-icon-balboa.png" alt="grant planter"/>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </body>
</html>
